<div class="jumbotron" id="home">
  <h1>Welcome to Cruzzit</h1>
  <p align="center">
    <%- if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info :hover'  %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info :hover' %>
    <% end %>
    </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Travel Plans</h2>
    <p>8-bit tattooed selfies you probably haven't heard of them mumblecore lo-fi. Try-hard beard stumptown sustainable High Life Marfa. Narwhal lumbersexual Blue Bottle, viral seitan aesthetic asymmetrical meh ennui deep v ethical forage Austin cliche XOXO. Seitan crucifix Tumblr, mlkshk cliche locavore butcher leggings. Bushwick dreamcatcher single-origin coffee keytar, Blue Bottle tote bag Thundercats lumbersexual disrupt. Seitan fingerstache lo-fi Intelligentsia, gentrify High Life Shoreditch cliche hashtag cold-pressed beard farm-to-table. Street art try-hard food truck wolf, literally 3 wolf moon art party Blue Bottle fap ethical yr hella meditation.</p>
  </div>
</div>