<h1>All Posts</h1>
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h3 class="media-heading">
        <%= link_to post.title, post %>
      </h3>
      <small>
        Submitted <%= time_ago_in_words(post.created_at) %><% if post.user %> by <%= post.user.name %><% end %>
      </small>
    </div>
  </div>
<% end %>
