@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
  background: #2DAFA8;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6{
  color: #FFFFFF;
}

em {
  color: #ffffff;
}

p{
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: orange;
}

a:visited {
  color: purple;
}

a:visited:hover{
  color: orange;
}

#home {
  background:transparent;
}

.btn-white {
  background: #ffffff;
}

.btn-white:hover {
  background: #CC99CC;
  border-color: #CC99CC;
}

.btn-purple {
  background: #b19cd9;
  border-color: #b19cd9;
  color: #000000;
   
}

.btn-purple:hover {
  background: #CC99CC;
  border-color: #CC99CC;
}

.btn-delete {
  background: #FFFFFF;
}